.warp {
  padding: 20px;
}

a {
  color: rgb(139, 139, 139);
}

.markUp {
  border: 2px solid #f5cbcb;
  padding: 10px 20px;
  margin: 10px auto;
  max-width: 500px;
  background-color: #fbefef;
  border-radius: 20px;
}

.markUp ol {
  margin: 5px 15px;
  color: rgb(139, 139, 139);
  font-size: 1.3rem;
}

.markUp li {
  padding: 0 5px;
}

.markUp h2 {
  font-size: 2rem;
  color: #f5cbcb;
}
