@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Background 속성 */

.app {
  width: 300px;
  height: 300px;
  background-color: green;

  border: solid 10px;

  padding: 10px;

  box-shadow: 10px 20px red;

  margin: 50px;
}

._div div {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
}

.color {
  background-color: blue;
}

.image {
  background-image: url("../img/dog.png");
}

.size {
  /* background-image: url("../img/dog.png"); */
  /* background-size: contain; */
  /* background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; */
  background: url("../img/dog.png") no-repeat center / contain;
}
/* ===================================================== */
/* 폰트 */
html {
  font-size: 10px;
}

.font {
  margin-top: 100px;
}

.font div {
  font-size: 5rem;
}

.p {
  font-size: 2rem;
}

.div {
  font-size: 3rem;
}

.serif {
  font-family: serif;
}
.sans-serif {
  font-family: sans-serif;
}
.monospace {
  font-family: monospace;
}
.cursive {
  font-family: cursive;
}
.fanstasy {
  font-family: fantasy;
}

.custom {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
